/.venv
/.env
__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
.envrc
coverage/
.ipynb_checkpoints/
*.log
migrations/
db.sqlite3
/staticfiles/
/media/
*.sqlite3
*.egg-info/
dist/
build/
.pytest_cache/
htmlcov/
.tox/
